span.show__pass.input-group-text,
.icon {
  position: absolute;
  top: 20px !important;
  background: none;
  right: 20px !important;
}
span.input-group-text {
}
.login__form input,
.reg__form input,
.reg__form select {
  padding: 20px 14px;
  background: transparent;
  border-radius: 8px !important;
  color: rgba(58, 80, 107, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
}
.reg__form .icon {
  background: none;
}
.login__section {
  padding: 80px 86px;
}

.account__section {
  position: relative;
}

.account__section .copyright {
  color: #243d4c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: none !important;
  padding: 0px !important;
}

.account__section__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.account__link {
  color: #263238;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.customDatePickerWidth,
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
}
.invalid-feedback {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .login__section {
    padding: 20px 10px;
  }
  .account__section {
    flex-direction: column-reverse;
  }
}
